


    <div class="col-lg-12 listing" >
        <div class="row" >
            <div class="col-lg-2 prices" >
                <strong >Annual Price</strong>
                <h4 >{{ result.price }}</h4>
            </div>

            <div class="col-lg-10 upper" >
                <div class="row" >
                    <div class="col-lg-3" >
                        <strong class="center-block" >CLINICS</strong>

                        <span class="center-block" >{{ result.clinics }}</span>
                    </div>
                    <div class="col-lg-3" >
                        <strong class="center-block" >HOSPITALS</strong>

                        <span class="center-block" >{{ result.hospitals }}</span>

                    </div>

                    <div class="col-lg-3" >
                        <strong class="center-block" >AMBULANCE</strong>

                        <span class="center-block" >{{ result.ambulance }}</span>

                    </div>

                    <div class="col-lg-3" >

                        <strong class="center-block" >CASH BENEFIT</strong>
                        <span class="center-block" >{{ result.cash_benefit }}</span>

                    </div>

                    <div class="clearfix" >


                    </div>
                </div>
            </div>

            <div class="col-lg-10 lower" >

                <div class="row" >
                    <div class="col-lg-8" >

                        <div class="col-lg-3" >

                            <strong class="center-block" >PRESCRIPTION DRUGS</strong>

                            <span class="center-block" >{{ result.prescription_drugs }}</span>

                        </div>

                        <div class="col-lg-3" >

                            <strong class="center-block" >DENTAL</strong>

                            <span class="center-block" >{{ result.dental }}</span>

                        </div>

                        <div class="col-lg-3" >

                            <strong class="center-block" >EXCLUDED HOSPITALS</strong>

                            <span class="center-block" >{{ result.excluded_hospitals }}</span>

                        </div>

                        <div class="col-lg-3" >

                            <strong class="center-block" >DEDUCTABLE</strong>

                            <span class="center-block" >{{ result.deductable }}</span>


                        </div>

                    </div>

                    <div class="col-lg-4 coverage" >

                        <h3 >Annual Coverage</h3>

                        <h2 >{{ result.annual_coverage }}</h2>

                    </div>

                    <div class="clearfix" >

                    </div></div></div></div></div>

